<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="restAssuredEmployeeTest">
	<listeners>
		<listener class-name="com.employeeTestApi.utilities.Listeners" />
	</listeners>
	<test name="employeeRestAssured">
		<classes>
			<class name="com.employeeapi.testcases.TC001_Get_All_Employees"/>
			<class name="com.employeeapi.testcases.TC002_Get_Single_Employee_Record"/>
			<class name="com.employeeapi.testcases.TC003_Post_Employee_Records"/>
			<class name="com.employeeapi.testcases.TC004_Put_Employee_Record"/>
			<class name="com.employeeapi.testcases.TC005_Delete_Employee_Record"/>
		</classes>
	
	</test>
</suite>